@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
.toggletextoverlay {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggletextoverlaylabel {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 30px;
  background: gray;
  border-radius: 100px;
  display: inline-block;
  position: relative;
}

.toggletextoverlaylabel:after {
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: all .3s;
  position: absolute;
  top: 5px;
  left: 5px;
}

.toggletextoverlay:checked + .toggletextoverlaylabel {
  background: #046b99;
}

.toggletextoverlay:checked + .toggletextoverlaylabel:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toolbardisabled {
  pointer-events: none;
  color: #666;
  background-color: #ccc;
  border: 1px solid #999;
}

.toolbarButton {
  width: 100%;
  background-color: #f0f0f0;
  border: 2px solid #d3d3d3;
  padding: 0;
  font-size: 1.5rem;
  position: relative;
}

.storyboard_viewer {
  padding-bottom: 50px;
  position: relative;
}

.seadragonbox {
  width: 100%;
  height: 600px;
  display: inline-block;
}

.multifullpage .seadragonbox, .seadragonboxfull {
  width: 100%;
  height: 100vh;
  display: inline-block;
}

.sidebyside .seadragonbox, .sidebyside .seadragonboxfull {
  width: 80%;
}

.collapse .annotation {
  height: 600px;
  width: 20%;
  max-height: 600px;
  resize: none;
  margin: 0;
  font-size: 18px;
  transition: all .3s;
}

.fullpage .collapse .annotation {
  height: calc(100vh - 2px - 1.5rem);
  max-height: calc(100vh - 2px - 1.5rem);
}

.fullpage .sidebyside .annotation {
  height: 100vh;
  max-height: 100vh;
}

.collapse .annotation.excerpt {
  width: 32px;
  height: auto;
  resize: none;
  overflow: none;
  transition: all .3s;
}

.collapse .excerpt #annotation_controls .annocontrols_button:not(#hide_button) {
  display: none;
}

.collapse .excerpt #hide_button {
  height: auto;
  width: 32px;
  font-size: 32px;
}

.annonaview .collapse .excerpt .content {
  display: none;
}

.sidebyside {
  display: flex !important;
}

.sidebyside .annotation {
  height: calc(602px + 1.5rem);
  width: 20%;
  max-height: calc(602px + 1.5rem);
  resize: none;
  background: #fff;
  margin: 0;
  font-size: 18px;
  left: 80%;
  top: 0 !important;
}

.multistoryboard .sidebyside .annotation {
  height: 100%;
}

.multifullpage .sidebyside .annotation {
  height: calc(100% - 1.5rem);
}

.sidebyside .bottom_menu_annotation {
  max-height: calc(100% - 6px);
}

.defaultview .annotation {
  max-height: calc(100% - 75px);
  top: calc(1.5rem + 2px);
}

.collapse .bottom_menu_annotation {
  height: calc(100% - 1.5rem);
  max-height: calc(100% - 1.5rem);
  top: -1px;
}

.defaultview .bottom_menu_annotation {
  top: 0;
}

.no_toolbar_annotation:not(.right):not(.left):not(.bottom):not(.top) {
  top: -1px !important;
}

.collapse .no_toolbar_annotation, .sidebyside .no_toolbar_annotation {
  height: calc(100% - 4px);
  max-height: calc(100% - 4px);
}

.annotation {
  width: 20%;
  resize: both;
  z-index: 2147483638;
  max-width: calc(100% - 20px);
  height: auto;
  word-wrap: break-word;
  background: #ffffffe6;
  border: 0 solid #000;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  left: 0;
  overflow: scroll;
}

.annotation > div {
  height: auto;
  text-align: left;
  padding: 2px 5px 5px;
  font-size: 20px;
}

#annotation_excerpt p {
  margin: 0;
}

.annonaview .content p {
  -webkit-margin-before: .5em;
  -webkit-margin-after: .5em;
  margin-block: .5em;
}

.annonaview .content iframe, .annonaview .content img:not(.leaflet-marker-icon) {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

#annotation_text {
  white-space: pre-wrap;
}

.rect:hover {
  opacity: .4;
  background: gray;
}

.overlay {
  z-index: 10;
}

.overlay:hover:not(.overlay) > svg {
  opacity: .4;
  background: gray;
}

.overlay > svg > :hover {
  fill: gray;
  fill-opacity: .4;
}

.overlay > svg > * {
  fill: none;
  stroke: #add8e6;
  vector-effect: non-scaling-stroke;
}

.active > svg > * {
  stroke-width: 3px !important;
}

.svgactive {
  fill: none;
}

.active > svg .svgactive {
  stroke: #ff0;
  stroke-dasharray: 1;
  transform: scale(1);
  stroke-width: 8px !important;
}

.overlay > svg > * {
  stroke-width: 3px;
}

.rect {
  border: 2px solid #add8e6;
}

.pin {
  color: #add8e6;
  font-size: 25px;
}

.close {
  display: none;
}

.annocontrols_button {
  color: #fff;
  text-align: center;
  width: auto;
  height: 16px;
  vertical-align: middle;
  height: 1.5rem;
  cursor: pointer;
  background: #000;
  border: none;
  border-radius: 15%;
  margin-right: 1.5px;
  padding: 3.5px;
  font-size: 16px;
  line-height: 10px;
}

.inactive {
  color: red;
  pointer-events: none;
}

.pin > :not(svg), .pin > svg {
  position: absolute;
  bottom: 0;
  left: calc(50% - 8.33333px);
}

.fullpage, .multifullpage {
  width: 100%;
  height: 100%;
  z-index: 102;
  background: #000;
  border: 1px solid #000;
  font-size: 30px;
  position: fixed;
  inset: 0;
}

.fullpage .toolbarButton:not(:last-child) {
  margin-right: 5px;
}

.fullpage .toolbarButton .toolbartext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  z-index: 1;
  background-color: #000;
  border-radius: 6px;
  margin-left: -60px;
  padding: 5px 0;
  position: absolute;
  top: 100%;
  bottom: auto;
  left: 50%;
}

.fullpage .toolbarButton .toolbartext:after {
  content: "";
  border: 5px solid #0000;
  border-bottom-color: #000;
  margin-left: -5px;
  position: absolute;
  top: auto;
  bottom: 100%;
  left: 50%;
}

.annonaview .content .attribution, .annonaview .content .authorship, .annonaview .content .tags {
  padding: 2.5px 0;
  font-size: small;
  font-style: italic;
}

.annonaview .content .tagslist {
  display: grid;
}

#fullimage {
  width: 49%;
  vertical-align: middle;
}

.annoimage > * {
  width: 49%;
  height: auto;
  vertical-align: middle;
}

.togglebutton {
  color: #fff;
  cursor: pointer;
  background-color: #811957;
  border: none;
  border-radius: 12px;
  justify-content: center;
  margin: .5em auto;
  padding: 6px 7px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
}

.iiifannotation {
  text-indent: 0;
  text-align: center;
  margin: .5em;
  padding: .5em;
}

.toggle {
  width: 49%;
}

#link_to_object {
  font-weight: 700;
}

#link_to_object a {
  color: #00f;
}

figcaption {
  font-size: small;
  font-style: italic;
  font-weight: 700;
}

#tags {
  width: calc(100% - 20px);
}

.tags {
  width: calc(100% - 40px);
  text-align: left;
  margin-top: 1px;
  margin-bottom: 7px;
  display: inline-flex;
}

.iiifannotation .tags {
  width: auto;
  padding-right: 3rem;
  display: inline-block;
}

.tags div {
  position: relative;
  width: auto !important;
}

.tags div, .tagscount {
  display: inline-block;
}

.tagscheck {
  vertical-align: middle;
}

.iiifannotation .tags div, .tags div {
  height: auto;
  font-size: 20px;
  line-height: auto;
  word-break: break-all;
  max-width: 100%;
  min-height: 26px;
  border: 1px solid #dadada;
  border-radius: 3px 0 0 3px;
  padding: 1px 9px 1px 8px;
  text-decoration: none;
}

.iiifannotation .tags div, .tags div, .tagscount {
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.tagscount {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: calc(100% - 1px);
  color: #fff;
  -webkit-text-stroke: .5px #000;
  background: #eb6b22;
  border: 1px solid #dadada;
  border-radius: 0 3px 3px 0;
  padding: 1px 8px 0 7px;
  font-size: 22px;
  line-height: 26px;
  position: absolute;
  top: -1px;
  left: 100%;
}

.toolbarButton .toolbartext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  z-index: 1;
  background-color: #000;
  border-radius: 6px;
  margin-left: -100px;
  padding: 2px 0;
  font-size: 12px;
  position: absolute;
  bottom: 115%;
  left: 50%;
}

.toolbarButton .toolbartext:after {
  content: "";
  border: 5px solid #0000;
  border-top-color: #000;
  margin-left: -5px;
  position: absolute;
  top: 100%;
  left: 88%;
}

.toolbarButton:hover:not(:active) .toolbartext {
  visibility: visible;
  z-index: 1000;
  transition-delay: 2s;
}

.active.rect {
  outline-offset: -4px;
  outline: 2px dotted #ff0 !important;
}

.active.pin {
  -webkit-text-stroke: .1rem #ff0;
  stroke-dasharray: 1;
}

.pin.overlay.active circle, rect {
  stroke-dasharray: 1;
  stroke: #ff0 !important;
}

.bottom, .left, .right, .top {
  margin: 0;
}

#annotation_controls {
  position: -web-sticky;
  box-sizing: content-box;
  z-index: 20;
  background: #000;
  flex-wrap: wrap;
  display: flex;
  position: sticky;
  top: 0;
}

#storyboard_viewer .lang_drop {
  -webkit-appearance: attachment;
  -moz-appearance: meterbar;
  -o-appearance: button-bevel;
  appearance: button-bevel;
  width: 12px;
  height: 12px;
  color: #000;
  background: #000;
  border: none;
  outline: none;
  margin-top: -1px;
}

@supports (-moz-appearance:none) {
  #storyboard_viewer .lang_drop {
    color: #fff !important;
  }
}

.lang-icon {
  text-align: center;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 15%;
  padding: 3.5px;
  font-size: 16px;
  line-height: 10px;
  position: relative;
}

.lang-icon:before {
  content: "";
  color: #fff;
  pointer-events: none;
  text-align: center;
  vertical-align: middle;
  background: #000;
  padding: 3.5px 3.5px 0 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .defaultview .annotation:not(.right):not(.left):not(.bottom):not(.top) {
    width: 100% !important;
    height: auto !important;
    max-height: 33% !important;
  }

  .defaultview .annotation:not(.right):not(.left):not(.bottom):not(.top):not(.no_toolbar_annotation) {
    top: calc(.79rem + 7px) !important;
  }

  .sidebyside .annotation:not(.no_toolbar_annotation) {
    height: calc(602px + .79rem);
  }

  .multistoryboard .sidebyside .annotation {
    height: 100%;
  }

  .collapse .annotation {
    top: calc(.79rem + 2px);
  }

  .fullpage .collapse .annotation {
    height: calc(100vh - 2px - .79rem);
    max-height: calc(100vh - 2px - .79rem);
  }

  .multifullpage .sidebyside .annotation {
    height: calc(100% - .79rem - 2px);
  }

  .defaultview .bottom_menu_annotation {
    top: 0;
  }

  .collapse .bottom_menu_annotation:not(.no_toolbar_annotation) {
    height: calc(100% - .79rem);
    max-height: calc(100% - .79rem);
  }

  .annotation {
    resize: both;
    z-index: 99999;
    max-width: 100%;
    word-wrap: break-word;
    background: #fff;
    border: 0 solid #000;
    margin: 0;
    position: absolute;
    overflow: scroll;
    font-size: 14px !important;
  }

  .toolbarButton {
    font-size: .79rem;
    margin-left: 0 !important;
  }
}

.tagskey {
  -webkit-text-stroke: .2px #000;
  word-break: break-all;
  font-weight: 900;
}

#annotation_controls .toolbartext {
  display: none;
}

#header_toolbar {
  width: 100%;
  display: flex;
}

#header_toolbar > .toolbarButton:not(:last-child) {
  margin-right: 2px;
}

#header_toolbar > .toolbarButton {
  margin-bottom: 2px;
}

.imageinfo > div {
  padding-bottom: 5px;
}

.imageinfo > h1 {
  -webkit-margin-after: .3em;
  margin: 0;
  -webkit-margin-before: .3em;
  margin-block: .3em;
  font-size: 1.4em;
}

.title {
  font-weight: 700;
}

.buttonlink {
  color: #069;
  cursor: pointer;
  font: inherit;
  text-align: left;
  border: none;
  align-items: center;
  padding: 0;
  text-decoration: underline;
  display: flex;
  background: none !important;
}

.title .buttonlink {
  text-decoration: none;
}

.even {
  background-color: #d3d3d3;
}

.odd {
  background-color: #fff;
}

.activecollection {
  background-color: #7fffd4;
}

.buttonlink img {
  padding-right: 10px;
}

.infolink {
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  font-size: large;
  font-weight: 700;
  display: block;
}

.storyboard_viewer a {
  color: -webkit-link;
  color: -moz-hyperlinkText;
  cursor: pointer;
  text-decoration: underline;
}

.additionaltext, .annoinfo {
  padding-bottom: 10px;
}

.annotationslist {
  padding-top: 10px;
}

.imagetitle h1 {
  -webkit-margin-after: .35rem;
  -webkit-margin-before: .35rem;
  text-align: center;
  margin-block: .35rem;
  font-size: large;
  font-weight: 700;
}

.slider {
  width: 100%;
}

#multistoryboard .annotation {
  top: 0;
}

@media only screen and (max-width: 600px) {
  #multistoryboard .annotation {
    top: 0 !important;
  }
}

.pageButton {
  z-index: 2147483647;
  width: 5%;
  text-align: center;
  background: none;
  border: none;
  font-size: 3em;
  position: absolute;
  top: 50%;
}

.ltr#nextPageButton, .rtl#previousPageButton {
  left: 95%;
}

.ltr#previousPageButton, .rtl#nextPageButton {
  left: 0;
}

.btt.pageButton, .ttb.pageButton {
  top: auto;
  bottom: 1%;
}

.btt#previousPageButton, .ttb#nextPageButton {
  left: 50%;
}

.btt#nextPageButton, .ttb#previousPageButton {
  right: 50%;
}

.pageinactive {
  display: none;
}

.rangestoryboard {
  display: inline-flex;
  position: relative;
}

.rangestoryboard, .rangestoryboard .storyboard_viewer {
  width: 100%;
  height: auto;
}

.rangefullpage .pageButton {
  color: #fff;
  position: fixed;
}

.pageButton .fas {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

.rangefullpage .pageButton .fas {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #000;
}

.annonaview .content {
  position: relative;
  overflow: auto;
}

.annonaview .content > * {
  word-break: break-word;
}

.bottom_menu_container {
  flex-direction: column-reverse;
  display: flex;
}

#multistoryboard.bottom_menu_container .storyboard_viewer {
  padding-bottom: 0;
}

.multistoryboard.bottom_menu_container {
  padding-bottom: 50px;
}

#multistoryboard.bottom_menu_container #header_toolbar {
  margin-top: -5px;
}

.multifullpage:not(.bottom_menu_container) .openseadragon-container {
  height: calc(100% - 1.5rem) !important;
}

.bottom_menu_container .seadragonbox {
  height: calc(100vh - 1.5rem) !important;
}

.buttonastext {
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: inherit;
  background: none;
  border: none;
  text-decoration: none;
  display: block;
  padding: 0 !important;
}

.activeword {
  background: #ff0;
}

.activeword .ocrtranscription p:before {
  content: "";
  color: #000;
  padding-right: 6px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline;
  position: relative;
}

.ocrtranscription p {
  margin: 5px;
}

.keyboard td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

table {
  border-collapse: collapse;
}

.ocrtranscription {
  padding-right: .2rem;
}

code {
  background-color: #eef;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
}

table tr {
  background-color: none;
}

.iiifannotation table, .iiifannotation td, .iiifannotation th {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  word-break: break-word;
  border: 1px solid #000;
  padding: 20px;
}

.searchapiview {
  width: 100%;
}

.searchapiview .iiifannotation {
  margin: 0;
  padding: 0;
}

#tags.tags {
  display: grid !important;
}

.subtags {
  padding-left: 10px !important;
  display: block !important;
}

.rangefullpage {
  background-color: #000;
}

.rangefullpage .iiifannotation {
  height: 100%;
  background-color: #fff;
  overflow: auto;
}

.imageview.pageButton {
  color: #000;
  top: 5em;
}

.scrolltext {
  padding-top: 20rem !important;
  padding-bottom: 20rem !important;
}

.fa-stack {
  height: 1.5rem;
  width: auto;
  line-height: 1.5rem;
  display: -webkit-box;
}

.imageViewButton {
  width: 35px;
  height: 35px;
}

.collectionicon {
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}

.level-0, .level-1 {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.boardnumber {
  margin: 3px;
  padding: 0;
  font-size: 1.2em;
  text-decoration: underline;
}

.adno-navbar {
  width: 100vw;
  box-shadow: 0 2px 4px #0003;
  background-color: #fff !important;
}

.adno-nav-log {
  width: 10vw;
  justify-content: center;
  display: flex;
}

.navbar-container {
  width: 80vw;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 15px;
  display: flex;
}

.adno-nav-item {
  color: #007bff;
  margin-left: 15px;
  margin-right: 15px;
  padding: 7px 20px;
  font-family: sans-serif;
  display: inline-block;
  color: #000 !important;
  text-decoration: none !important;
}

.adno-nav-item:hover {
  color: #007bff;
  background: #fff;
  border: 2px solid #007bff;
  border-radius: 30px;
  padding: 3px 18px;
  font-family: sans-serif;
  display: inline-block;
}

.nav-active {
  color: #fff;
  background: #007bff;
  border-radius: 30px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px 20px;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}

.nav-active:hover {
  color: #007bff;
  background: #fff;
  border: 2px solid #007bff;
  font-family: sans-serif;
}

.adno-logo {
  margin: 0 5px;
  font-size: larger;
  font-weight: bold;
}

.github-nav {
  border-radius: 30px;
  margin: 0 15px;
  padding: 5px 20px;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  color: #5cbdb9 !important;
  background-color: #fff !important;
  border: 2px solid #5cbdb9 !important;
}

.contact-nav {
  border-radius: 30px;
  margin: 0 15px;
  padding: 5px 20px;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  color: #0f2862 !important;
  background: #fff !important;
  border: 2px solid #0f2862 !important;
}

.hide-nav {
  display: none;
}

@media (max-width: 1500px) {
  .adno-nav-item, .nav-active {
    margin-left: 5px;
    margin-right: 5px;
  }

  .github-nav, .contact-nav {
    margin: 0 5px;
  }
}

.adno-upload-file {
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: #5cbdb9;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

#selectFiles_1 {
  display: none;
}

.import_project {
  width: 100%;
  border: 2px solid #e9e9e9;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 10px;
}

.import_project .import-btns {
  margin: 25px 15px;
}

.import-reset {
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px;
}

.import-confirm {
  color: #fff;
  background-color: #00adea;
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px;
}

.card-img-adno {
  justify-content: center;
  align-items: center;
  display: flex;
}

.buttons-group-proj-view {
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  display: flex;
}

.img-proj-view {
  max-height: 250px;
  border-radius: 35px;
  padding: 25px;
}

.label-nb-annos {
  color: #fff;
  text-align: center;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 8px;
  font-family: sans-serif;
  font-weight: bold;
  display: inline-block;
  background-color: #0d6efd !important;
}

@media (max-width: 1500px) {
  .buttons-group-proj-view {
    width: 90%;
    margin: auto;
  }
}

.jumbotron {
  background-color: var(--bs-light);
  border-radius: .3rem;
  margin-bottom: 2rem;
  padding: 4rem 2rem;
}

#projects_list {
  width: 80vw;
  height: 55vh;
  flex-direction: column;
  align-items: center;
  margin: auto;
  display: flex;
  overflow: auto;
}

.with_projects {
  width: 100%;
  display: flex;
}

.with_projects_left {
  width: 35%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

#myForm {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.with_projects_right {
  width: 65%;
  padding: 15px;
}

.with_projects_right #projects_list {
  width: 100%;
}

#import_2 {
  margin-top: 5%;
}

.import_project_separator {
  text-align: center;
  margin: 5% 0;
}

.picture-div {
  width: 85%;
  height: 90%;
  margin: 5vh auto 0;
}

.project-body {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.projet-page-title {
  text-align: center;
  margin: 4vh auto;
}

#container_with_projects {
  margin-top: 5vh;
}

.adno_container {
  width: 90vw;
  margin: auto;
}

.project-card:hover {
  border: 2px solid #007bff;
}

.homewpbar {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  display: flex;
}

@media (max-width: 1500px) {
  #projects_list {
    width: 80vw;
    height: 45vh;
    flex-direction: column;
    align-items: center;
    margin: auto;
    display: flex;
    overflow: auto;
  }

  #container_with_projects {
    margin-top: 2vh !important;
  }
}

.form-new-project {
  width: 70vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vh auto;
  display: flex;
}

.mb-3 {
  width: 100%;
}

.new_project_btns {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.adno-viewer-leftbar {
  width: 20vw;
  height: 71vh;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  top: 10vh;
  left: 5vw;
  box-shadow: 0 7px 29px #64646f33;
}

.adno-viewer-leftbar .adno-nb-annos {
  color: #007bff;
}

.adno-viewer-rightbar {
  width: 65vw;
  height: 70vh;
  position: absolute;
  top: 10vh;
  left: 30vw;
}

.adno-viewer-rightbar-without-annos {
  width: 90vw;
  margin: 0 5vw;
  position: absolute;
  top: 10vh;
}

.openseadragon-container {
  height: 90% !important;
}

@media (max-width: 1440px) {
  .adno-viewer-rightbar {
    width: 70vw;
    top: 12vh;
    left: 29vw;
    height: 470px !important;
  }

  .adno-viewer-leftbar {
    height: 65vh;
    width: 25vw;
    top: 12vh;
    left: 2vw;
  }

  #image_iiif {
    width: 1000px !important;
    height: 420px !important;
  }

  .openseadragon-container {
    height: 70% !important;
  }

  .seadragonbox {
    width: 100% !important;
    height: 510px !important;
  }

  .adno-viewer-rightbar-without-annos #image_iiif {
    width: 1250px !important;
    height: 450px !important;
  }

  .adno-viewer-rightbar-without-annos .openseadragon-container {
    height: 95% !important;
  }
}

.tts_play {
  box-shadow: none;
  text-shadow: none;
  opacity: .9;
  text-transform: uppercase;
  letter-spacing: .4px;
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
  padding: 16px 32px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  background-color: #055ada !important;
  outline: none !important;
}

.card-title iframe, .card-title img {
  max-width: 100%;
  max-height: 200px;
}

.adno-viewer-list-annos {
  height: 53vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  overflow: scroll;
}

.adno-viewer-card {
  width: 90%;
  background-color: #fff;
  border: 2px solid #007bff;
  border-radius: 5px;
  margin: 10px auto;
  padding: 15px;
}

.adno-viewer-card:hover {
  cursor: pointer;
  box-shadow: 0 10px 36px #00000029, 0 0 0 1px #0000000f;
}

.adno-viewer-nb-annos {
  text-align: center;
  color: #007bff;
  margin: 30px 0;
}

@media (max-width: 1500px) {
  .adno-viewer-list-annos {
    height: 50vh;
  }
}

.list_annotations {
  height: 40vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  overflow: scroll;
}

.anno-card {
  width: 90%;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px auto;
  padding: 15px;
}

.adno-nb-annos {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.adno-card-title {
  overflow-wrap: break-word;
}

@media (max-width: 1500px) {
  .list_annotations {
    height: 30vh !important;
  }
}

.edit-form {
  width: 70vw;
  background-color: #fff;
  border-radius: 10px;
  margin: 30px auto auto;
  padding: 20px;
}

.preview-btn {
  padding: 8px 18px;
}

.adno-editor {
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
}

.newsletter {
  box-shadow: none;
  color: inherit;
  text-indent: 9px;
  height: 45px;
  min-width: 250px;
  background: #eff1f4;
  border: none;
  border-radius: 3px;
  outline: none;
  margin-right: 10px;
}

.subbutton {
  box-shadow: none;
  text-shadow: none;
  opacity: .9;
  text-transform: uppercase;
  letter-spacing: .4px;
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
  padding: 16px 32px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  background-color: #055ada !important;
  outline: none !important;
}

.left-bar {
  width: 20vw;
  height: calc(95vh - 125px);
  background-color: #1d1a1d;
  padding: 25px;
  position: absolute;
}

.right-bar {
  width: 80vw;
  height: calc(95vh - 125px);
  margin-left: 20vw;
  position: absolute;
}

.left-bar label {
  color: #fff;
  font-size: larger;
  font-weight: bold;
}

.autosave-text {
  color: #fff;
}

@media (max-width: 1500px) {
  .left-bar {
    width: 25vw !important;
  }

  .right-bar {
    width: 75vw !important;
    margin-left: 25vw !important;
  }

  .adno-editor {
    width: 950px;
  }

  .adno-editor #openseadragon1 {
    height: 420px !important;
  }

  .adno-editor .openseadragon-container {
    height: 90% !important;
    height: 410px !important;
  }
}

.adno-examples {
  width: 80%;
  height: 70vh;
  flex-flow: wrap;
  align-items: center;
  margin: 5vh auto 0;
  display: flex;
  overflow: scroll;
}

.example-card {
  width: 30%;
  height: 550px;
  border: 2px solid #007bff;
  border-radius: 6px;
  margin: 20px;
  transition: all .4s;
  box-shadow: 1.95px 1.95px 2.6px #00000026;
}

.example-card:hover {
  box-shadow: 15px 15px #00000026;
}

.example-card-body {
  height: 200px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  display: flex;
  overflow: scroll;
}

.example-card img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.generate-btn {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.example-card-btns {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 1500px) {
  .adno-examples {
    width: 90vw;
    height: 65vh;
    flex-flow: wrap;
    align-items: center;
    margin: 4vh auto 0;
    display: flex;
    overflow: scroll;
  }

  .example-card {
    width: 30%;
    height: 550px;
    border: 2px solid #007bff;
    border-radius: 6px;
    margin: 20px;
    transition: all .4s;
    box-shadow: 1.95px 1.95px 2.6px #00000026;
  }

  .example-card:hover {
    box-shadow: 14px 14px #00000026;
  }
}

.legal-notice {
  width: 80vw;
  height: 78vh;
  margin: 5vh auto auto;
  padding: 35px;
  overflow: scroll;
}

.cgu {
  width: 80vw;
  height: 78vh;
  margin: 5vh auto auto;
  padding: 35px;
  overflow: scroll;
}

.landing_page {
  width: 100vw;
  height: 100vh;
  background-color: #356ae6;
  margin: 0;
}

.land-body {
  width: 95vw;
  height: 100vh;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
}

.land-title {
  color: #356ae6;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20vh;
  margin-bottom: 5vh;
  padding: 20px;
  font-family: inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bolder;
  transition: all .4s;
  box-shadow: 10px 10px #ffffff3d;
}

.land-desc-adno {
  width: 50%;
  margin: 4vh 0 6vh;
}

.land-input-url {
  width: 60%;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 14px;
  font-family: inter, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.land-input-url::selection {
  border: 2px solid red;
}

.land-btn-first-proj {
  color: #356ae6;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 14px;
  font-family: inter, Helvetica Neue, Helvetica, Arial, sans-serif;
  transition: all .3s;
}

.landing-form {
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.land-example-proj {
  color: #356ae6;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: padding .5s, box-shadow .5s;
  position: absolute;
  top: 5vh;
  right: 2vw;
}

.land-import-proj {
  width: 50%;
  margin-top: 5vh;
}

.land-example-proj:hover {
  padding: 20px;
  box-shadow: 8px 8px #00000059;
}

.not-found {
  width: 100vw;
  height: 100vh;
  z-index: 1000000000;
  background-color: bisque;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
}

/*# sourceMappingURL=index.6260be5f.css.map */
